@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text: #cad3f5;
  --background: #24273a;
  --accent: #8aadf4;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: "Work Sans", sans;
}

a {
  color: var(--accent);
}
